<script type="text/javascript">
    function OnBatchEditStartEditing(s, e) {
        ToggleButtons(true);
    }
    function OnBatchEditEndEditing(s, e) {
        window.setTimeout(function () {
            if (!s.batchEditApi.HasChanges())
                ToggleButtons(false);
        }, 0);
    }
    function ToggleButtons(enabled) {
        btnUpdate.SetEnabled(enabled);
        btnCancel.SetEnabled(enabled);
    }
    function OnUpdateClick(s, e) {
        GridView.UpdateEdit();
        ToggleButtons(false);
    }
    function OnCancelClick(s, e) {
        GridView.CancelEdit();
        ToggleButtons(false);
    }

    function OnCustomButtonClick(s, e) {
        if (e.buttonID == "deleteButton") {
            s.DeleteRow(e.visibleIndex);
            ToggleButtons(true);
        }
    }
    function OnEndCallback(s, e) {
        window.setTimeout(function () {
            if (!s.batchEditApi.HasChanges())
                ToggleButtons(false);
        }, 0);
    }
</script>

<form>
    @Html.Action("GridViewPartial")
</form>
<br />
@Html.DevExpress().Button(settings => {
    settings.Name = "btnUpdate";
    settings.Text = "Update";
    settings.ClientEnabled = false;
    settings.ClientSideEvents.Click = "OnUpdateClick";
}).GetHtml()

@Html.DevExpress().Button(settings => {
    settings.Name = "btnCancel";
    settings.Text = "Cancel";
    settings.ClientEnabled = false;
    settings.ClientSideEvents.Click = "OnCancelClick";
}).GetHtml()